[submodule "themes/rocinante"]
	path = themes/rocinante
	url = https://github.com/mavidser/hugo-rocinante.git
[submodule "public"]
	path = public
	url = git@github.com:murat/murat.github.io.git
	branch = master
