<Section class="section" relative id="Articles__Hero">
    {{ if not (eq .Page.Params.hero.heading nil) }}
    <div class="heading-container" style="maxWidth: {{ .Page.Params.hero.maxWidthPX }}px;">
        <h1 class="hero-heading">{{ .Page.Params.hero.heading }}</h1>
    </div>
    {{ end }}
    <div class="subheading-container">
        {{ partial "bio.html" . }}

        {{ if not (in .Site.Params.disabledThemeFeatures "listGridButton") }}
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
        {{ end }}
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ if eq .Site.Params.defaultView "list" }}
<script>
    window.addEventListener('DOMContentLoaded', (_) => {
        makeRows();
    })
</script>
{{ end }}

{{ if eq .Site.Params.defaultView "grid" }}
<script>makeGrid()</script>
{{ end }}
